
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/App.js"></script>
    <script src="Scripts/Controller.js"></script>
    <title></title>
</head>
<body ng-app="Myapp">
    <div ng-view>

    </div>
</body>
</html>


